<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRZ1HmSNbm2xQyr6WnlJDy4UOO9Yu7L5U</string>
	<key>GCM_SENDER_ID</key>
	<string>42815676315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.github.toruishihara.aiShopList</string>
	<key>PROJECT_ID</key>
	<string>matsue-castle-chat-bot</string>
	<key>STORAGE_BUCKET</key>
	<string>matsue-castle-chat-bot.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42815676315:ios:657b77261f85b5ff108b3e</string>
</dict>
</plist>